body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 30px;
    padding-left: 30px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.even {
    color: darkblue;
    font-weight: 500;
    font-size: 20px;
}

.odd {
    color: darkblue;
    font-weight: 500;
    font-size: 20px;
}

.card-heading {
    color: rgb(139, 0, 127);
    font-weight: 600;
    font-size: 2rem;
}

.star {
    padding-left: 20px;
    padding-right: 30px;
}

.cardStar {
    padding-left: 2px;
    padding-right: 30px;
}

.circleCard {
    padding-left: 42px;
    padding-right: 30px;
}

.fa-pen-to-square {
    padding-left: 140px;
    padding-right: 35px;
}

ul {
    padding: 4px;
    column-gap: 11px;
}

li {
    padding: 8px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    /*     justify-content: space-evenly;
 */
}

.star {
    margin-left: 2px;
}

.circleTrash {
    /*     justify-content: flex-end;
 */
}

.todoItem {
    min-width: 142px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;